@{
    Layout = null;
    ViewData["Title"] = "Error";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/salon.css">
</head>
<body>
<div class="karm-error">
     <a href="home">
         <img class="img-error" src="/img/core-img/main_logo.png">
     </a>
     <h3 class="label-form" >Pages Not Found.</h3>
        <a href="./home">Home</a>
</div>

</body>
</html>