@using MySalonWeb.ViewModels;
@model BookingViewModel


<div class="form-group">
    <label class="label-form">Choose time:</label>
    <select id="chooseTime" asp-for="@Model.Order.OrderTime" asp-items="@ViewBag.TimeDictionary" class="form-control label-form">
        <option value="">Choose the time</option>
    </select>
</div>
<div class="form-group">
    <label class="label-form">Price for @ViewBag.ServiceName:</label>
    <p class="form-control label-form">@ViewBag.Price$</p>
</div>



