@model Expert

<div asp-validation-summary="All" class="text-danger"></div>

<div class="border p-3 mt-4">
    <input asp-for="Id" hidden />
    <div class="mb-3">
        <label asp-for="Id"></label>
        <input asp-for="Id" class="form-control" />
        <span asp-validation-for="Id"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Surname"></label>
        <input asp-for="Surname" class="form-control" />
        <span asp-validation-for="Surname"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Phone"></label>
        <input asp-for="Phone" class="form-control"></input>
        <span asp-validation-for="Phone"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Birthday"></label>
        <input type="date" asp-for="Birthday" class="form-control"></input>
        <span asp-validation-for="Birthday"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ServiceType"></label>
        <input asp-for="ServiceType" class="form-control"></input>
        <span asp-validation-for="ServiceType"></span>
    </div>
</div>

