@model Expert
@{
    ViewData["Title"] = "Edit expert";
}

<form method="post" asp-action="Edit">
    
    <partial name="_form" />

        <button type="submit" class="btn btn-primary" style="width:150px">Edit</button>
    </div>

</form>

