@using NonFactors.Mvc.Grid;
@model IQueryable<Expert>
@{
    ViewBag.Title = "Experts";
}

<p>
    <a asp-action="Create" class="btn btn-sm btn-info">Create</a>
</p>

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Id).Titled("Id");
        columns.Add(model => model.Surname).Titled("Surname");
        columns.Add(model => model.Name).Titled("Name");
        columns.Add(model => model.Phone).Titled("Phone");
        columns.Add(model => model.Birthday).Titled("Birthday");
        columns.Add(model => model.ServiceType).Titled("ServiceType");

        columns.Add(model => $"<a class=\"btn btn-sm btn-primary\" href=\"Experts\\Edit\\{model.Id}\">Edit</a>  " +
            $"<a class=\"btn btn-sm  btn-danger\" href=\"Experts\\Delete\\{model.Id}\">Delete</a>"
            ).Encoded(false);

    })
    .Using(GridFilterMode.Row)
    .Empty("")
    .Filterable()
    .Sortable()
    .Pageable()
) 
