@{
    ViewData["Title"] = "Home Page";
}

    
    <!-- About Area Start -->
    <section class="akame-about-area section-padding-80-0">
        <div class="container">
            <div class="row align-items-center">
                <!-- Section Heading -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="section-heading mb-80">
                        <h2>Hair Salon</h2>
                        <p>The House of Hair Salon &amp; Spa</p>
                        <span>About Us</span>
                    </div>
                </div>

                <!-- About Us Thumbnail -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="about-us-thumbnail mb-80">
                        <img src="img/bg-img/15.jpg" alt="">
                    </div>
                </div>

                <!-- About Us Content -->
                <div class="col-12 col-lg-4">
                    <div class="about-us-content mb-80 pl-4">
                        <h3>Beautiful Hair Comes From A Legendary.</h3>
                        <p>“Working in a salon, you look at trends all day long. You’re looking at color all the time,what new products are coming out. You’re a part of the fashion industry,especially if you’re working in a higher-end salon.”</p>
                        <a href="about" class="btn akame-btn active mt-30">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Area End -->

    <!-- Border -->
    <div class="container">
        <div class="border-top mt-3"></div>
    </div>

    <!-- Our Service Area Start -->
    <section class="akame-service-area section-padding-80-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section-heading text-center">
                        <h2>Our Services</h2>
                        <p>The House of Hair Salon &amp; Spa, incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>

            <div class="row2">

                <!-- 1 Coloring -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-service-area mb-80 wow fadeInUp" data-wow-delay="200ms">
                        <img src="img/core-img/s1.png" alt="">
                        <h5>Coloring</h5>
                        <p>Ut enim ad minim veniam, quis trud exercitation...</p>
                    </div>
                </div>

                <!-- 2 Make Up -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-service-area mb-80 wow fadeInUp" data-wow-delay="400ms">
                        <img src="img/core-img/s5.png" alt="" width="52px">
                        <h5>Make Up</h5>
                        <p>Consectetur adipisicing elit, sed doe eiusmod.</p>
                    </div>
                </div>

                <!-- 3 Manicure -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-service-area mb-80 wow fadeInUp" data-wow-delay="600ms">
                        <img src="img/core-img/s2.png" alt="" width="52px">
                        <h5>Manicure</h5>
                        <p>Nemo enim ipsam voluptatem quia voluptas</p>
                    </div>
                </div>

                <!-- 4 Hair Style -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-service-area mb-80 wow fadeInUp" data-wow-delay="800ms">
                        <img src="img/core-img/s3.png" alt="">
                        <h5>Hair Style</h5>
                        <p>Ut enim ad minim veniam, quis trud exercitation...</p>
                    </div>
                </div>

                <!-- 5 Shaving -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-service-area mb-80 wow fadeInUp" data-wow-delay="200ms">
                        <img src="img/core-img/s4.png" alt="">
                        <h5>Shaving</h5>
                        <p>Ut enim ad minim veniam, quis trud exercitation...</p>
                    </div>
                </div>

                <!-- 6 Brows -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-service-area mb-80 wow fadeInUp" data-wow-delay="200ms">
                        <img src="img/core-img/s6.png" alt="" width="52px">
                        <h5>Brows</h5>
                        <p>Ut enim ad minim veniam, quis trud exercitation...</p>
                    </div>
                </div>

                <!-- 7 Hair Cut -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-service-area mb-80 wow fadeInUp" data-wow-delay="200ms">
                        <img src="img/core-img/s3.png" alt="">
                        <h5>Haircut</h5>
                        <p>Ut enim ad minim veniam, quis trud exercitation...</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Our Service Area End -->

    <!-- Border -->
    <div class="container">
         <div class="border-top mt-3"></div>
    </div>
    
    <!-- Our Expert Area Start -->
    <section class="akame-our-expert-area section-padding-80-0">

        <!-- Side Thumbnail -->
        <div class="side-thumbnail" style="background-image: url(img/bg-img/92.png);"></div>

        <div class="container">
            <div class="row justify-content-end">
                <div class="col-12 col-lg-6">
                    <!-- Section Heading -->
                    <div class="section-heading">
                        <h2>Our Experts</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
                    </div>
                    <!-- Our Certificate -->
                    <div class="our-certificate-area mb-60 d-flex align-items-center">
                        <img src="img/core-img/certificate-1.png" alt="">
                        <img src="img/core-img/certificate-2.png" alt="">
                        <img src="img/core-img/certificate-3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <!-- Single Team Member -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member mb-80 wow fadeInUp" data-wow-delay="200ms">
                        <div class="team-member-img">
                            <img src="img/bg-img/10.jpg" alt="">
                        </div>
                        <div class="team-member-info">
                            <h5>Mila Hartley</h5>
                            <p>Hairdresser</p>
                        </div>
                    </div>
                </div>

                <!-- Single Team Member -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member mb-80 wow fadeInUp" data-wow-delay="400ms">
                        <div class="team-member-img">
                            <img src="img/bg-img/11.jpg" alt="">
                        </div>
                        <div class="team-member-info">
                            <h5>Teigan Duran</h5>
                            <p>Stylist</p>
                        </div>
                    </div>
                </div>

                <!-- Single Team Member -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member mb-80 wow fadeInUp" data-wow-delay="600ms">
                        <div class="team-member-img">
                            <img src="img/bg-img/12.jpg" alt="">
                        </div>
                        <div class="team-member-info">
                            <h5>Tanya Ramsay</h5>
                            <p>Hairstylist</p>
                        </div>
                    </div>
                </div>

                <!-- Single Team Member -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member mb-80 wow fadeInUp" data-wow-delay="800ms">
                        <div class="team-member-img">
                            <img src="img/bg-img/13.jpg" alt="">
                        </div>
                        <div class="team-member-info">
                            <h5>Donna Carr</h5>
                            <p>Baber</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- Our Expert Area End -->

    <!-- Border -->
    <div class="container">
        <div class="border-top mt-3"></div>
    </div>

    <!-- Call To Action Area Start -->
    <section class="akame-cta-area bg-gray section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-10 col-xl-5">
                    <div class="cta-content">
                        <h2>Make Stilo Your <br>Number One Choice</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut la.</p>
                        <div class="akame-btn-group mt-30">
                            <a href="booking" class="btn akame-btn active mr-3 mb-3 mb-sm-0">Book An Appointment</a>
                            <a href="contact" class="btn akame-btn">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- CTA Thumbnail -->
        <div class="cta-thumbnail bg-img" style="background-image: url(img/bg-img/cta.png);"></div>
    </section>
    <!-- Call To Action Area End -->
