@{
    ViewData["Title"] = "Service";
}

<!-- Breadcrumb Area Start -->
    <section class="breadcrumb-area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>Our Services</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="home"><i class="icon_house_alt"></i> Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Services</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Area End -->

    <!-- Service Area Start -->
    <section class="akame-service-area">

        <!-- Single Service Item -->
        <div class="single--service--item d-flex flex-wrap align-items-center">
            <!-- Service Content -->
            <div class="service-content">
                <div class="service-text">
                    <h2>Hair Cuts &amp; Style</h2>
                    <p><span>Women's Haircut:</span> <span>$55</span></p>
                    <p><span>Men's Haircut:</span> <span>$75</span></p>
                    <p><span>Up Do Style:</span> <span>$35</span></p>
                    <p><span>Half-up do style:</span> <span>$45</span></p>
                </div>
            </div>
            <!-- Service Thumbnail -->
            <div class="service-thumbnail bg-img jarallax" style="background-image: url(img/bg-img/30.jpg);"></div>
        </div>

        <!-- Single Service Item -->
        <div class="single--service--item odd-item d-flex flex-wrap align-items-center">
            <!-- Service Thumbnail -->
            <div class="service-thumbnail bg-img jarallax" style="background-image: url(img/bg-img/31.jpg);"></div>

            <!-- Service Content -->
            <div class="service-content">
                <div class="service-text">
                    <h2>Hair dyed</h2>
                    <p><span>Dye L'Oréal:</span> <span>$55</span></p>
                    <p><span>Dye Davines:</span> <span>$75</span></p>
                    <p><span>Dye GolDWell:</span> <span>$35</span></p>
                    <p><span>Dye Oriental:</span> <span>$45</span></p>
                </div>
            </div>
        </div>

        <!-- Single Service Item -->
        <div class="single--service--item d-flex flex-wrap align-items-center">
            <!-- Service Content -->
            <div class="service-content">
                <div class="service-text">
                    <h2>Shaving</h2>
                    <p><span>Hair Care + Mask:</span> <span>$55</span></p>
                    <p><span>Beard Shaving:</span> <span>$75</span></p>
                    <p><span>Mustache Shaving:</span> <span>$35</span></p>
                    <p><span>Man`s Shaving:</span> <span>$45</span></p>
                </div>
            </div>
            <!-- Service Thumbnail -->
            <div class="service-thumbnail bg-img jarallax" style="background-image: url(img/bg-img/32.jpg);"></div>
        </div>

         <!-- Single Service Item -->
    <div class="single--service--item odd-item d-flex flex-wrap align-items-center">
            <!-- Service Thumbnail -->
            <div class="service-thumbnail bg-img jarallax" style="background-image: url(img/bg-img/88.jpg);"></div>
       
            <!-- Service Content -->
            <div class="service-content">
                <div class="service-text">
                    <h2>Manicure</h2>
                    <p><span>Manicure:</span> <span>$30</span></p>
                    <p><span>Gel polish coating:</span> <span>$55</span></p>
                    <p><span>Nail extension + Gel:</span> <span>$75</span></p>
                    <p><span>Wedding nails:</span> <span>$45</span></p>
                </div>
            </div>
        </div>

        <!-- Single Service Item -->
        <div class="single--service--item d-flex flex-wrap align-items-center">
            <!-- Service Content -->
            <div class="service-content">
                <div class="service-text">
                    <h2>Eyebrows</h2>
                    <p><span>Coloring:</span> <span>$20</span></p>
                    <p><span>Botoxing:</span> <span>$35</span></p>
                    <p><span>Coloring + botoxing:</span> <span>$65</span></p>
                    <p><span>Lamination:</span> <span>$45</span></p>
                </div>
            </div>
            <!-- Service Thumbnail -->
            <div class="service-thumbnail bg-img jarallax" style="background-image: url(img/bg-img/89.jpg);"></div>
        </div>

        <!-- Single Service Item -->
    <div class="single--service--item odd-item d-flex flex-wrap align-items-center">
            <!-- Service Thumbnail -->
            <div class="service-thumbnail bg-img jarallax" style="background-image: url(img/bg-img/90.jpg);"></div>
       
            <!-- Service Content -->
            <div class="service-content">
                <div class="service-text">
                    <h2>Make Up</h2>
                    <p><span>Nude:</span> <span>$30</span></p>
                    <p><span>Daily:</span> <span>$55</span></p>
                    <p><span>Party:</span> <span>$75</span></p>
                    <p><span>Wedding:</span> <span>$45</span></p>
                </div>
            </div>
        </div>

    </section>
    <!-- Service Area End -->
