@model Client

<div asp-validation-summary="All" class="text-danger"></div>

@* <div class="mb-3">
            <label asp-for="RiskType"></label>
            <select asp-for="RiskType" asp-items="Html.GetEnumSelectList<RiskTypes>()" class="form-control">
            </select>
            <span asp-validation-for="RiskType" class="text-danger"></span>
        </div>*@
<div class="mb-3">
    <label asp-for="Name"></label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="Surname"></label>
    <textarea asp-for="Surname" class="form-control"></textarea>
    <span asp-validation-for="Surname" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="Phone"></label>
    <textarea asp-for="Phone" class="form-control"></textarea>
    <span asp-validation-for="Phone" class="text-danger"></span>
</div>
<div class="mb-3">
    <label asp-for="Email"></label>
    <textarea asp-for="Email" class="form-control"></textarea>
    <span asp-validation-for="Email" class="text-danger"></span>
</div>

