@model Order
@{
    ViewData["Title"] = "Create client";
}


<form method="post">
        <div cclass="border p-3 mt-4">

        <partial name="_form" />

        <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
    </div>

</form>