@using MySalonWeb.ViewModels
@model BookingViewModel

    <div asp-validation-summary="All" class="text-service-name"></div>
<div class="form-group">
    <label class="label-form">Choose service:</label>
    <select asp-for="Order.ServiceId" asp-items="@ViewBag.ServiceDictionary" class="form-control label-form"> </select>
    </div>
<div class="form-group">
    <label class="label-form">Choose date:</label>
    <input type="date" asp-for="Date" id="date" name="date" class="form-control label-form" />
    </div>
