@using MySalonWeb.Areas.Admin.Helpers

  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="~/admin/dist/img/Karmelia.png" alt="Karmelia" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Karmelia</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
     
      <!-- Sidebar Menu -->
      <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="Orders" asp-action="Index" class="nav-link @(Url.CheckActiveController("Orders") ? "active":"")">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Orders
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="Clients" asp-action="Index" class="nav-link @(Url.CheckActiveController("Clients") ? "active":"")">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Clients
                        </p>
                    </a>
                </li>
                 <li class="nav-item">
                    <a asp-area="Admin" asp-controller="Experts" asp-action="Index" class="nav-link @(Url.CheckActiveController("Experts") ? "active":"")">
                          <i class="nav-icon fas fa-th"></i>
                          <p>
                            Experts
                        </p>
                  </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="Service" asp-action="Index" class="nav-link @(Url.CheckActiveController("Service") ? "active":"")">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Service
                        </p>
                    </a>
                </li>
            </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>